<nav class="navbar navbar-default" ng-controller="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home" class="navbar-brand">Shiv Project</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="x in navbar |  orderBy : 'id'"><a href="#{{x.link}}">{{x.link | uppercase}}</a></li>
            </ul>
        </div>
    </div>
</nav>